<div class="info-wrapper">
    <div class="item-id">
        Item No. <%=data.id%>
    </div>
    <div class="item-name">
        <%=data.name.toUpperCase()%>
    </div>
    <div class="item-price">
        <div style="display: inline" class="price-section">
            <div class="currency inactive-currency usd"><%=usdPrice%> USD</div>
            <div class="currency  euro"><%=euroPrice%> EUR</div>
            <div class="currency inactive-currency bgn"><%=bgnPrice%> BGN</div>
            <select  style="max-width: 100px;display: inline" name="currency">
                <option class="currency-selector" selected="selected" value="euro">EUR</option>
                <option class="currency-selector" value="bgn">BGN</option>
                <option class="currency-selector" value="usd">USD</option>
            </select>
        </div>
    </div>

    <div class="colors">
        <div class="title">
            Color
        </div>
        <div class="items">
            <div class="filter-select">
                <div class="color-element" style="background-color: black"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="border: #cccccc solid 1px ;background-color: white"></div>
            </div>
            <div class="filter-select selected">
                <div class="color-element" style="background-color: red"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="background-color: green"></div>
            </div>
        </div>
    </div>
    <div class="sizes">
        <div class="title">
            Size
        </div>
        <div>
            <div class="size-element selected" style="margin-left: 0">S</div>
            <div class="size-element">M</div>
            <div class="size-element">L</div>
            <div class="size-element">XL</div>
            <div class="size-element">XXL</div>
        </div>
    </div>
</div>
