<div class="info-wrapper">
    <div class="item-id">
        Item No. <%=data.id%>
    </div>
    <div class="item-name">
        <%=data.name.toUpperCase()%>
    </div>
    <div class="item-price">
        <div style="display: inline" class="price-section">
            <div class="currency inactive-currency usd"><%=usdPrice%> USD</div>
            <div class="currency  euro"><%=euroPrice%> EUR</div>
            <div class="currency inactive-currency bgn"><%=bgnPrice%> BGN</div>
            <select  style="max-width: 100px;display: inline" name="currency">
                <option class="currency-selector" onclick="currencyChange" selected="selected" value="euro">EUR</option>
                <option class="currency-selector" value="bgn">BGN</option>
                <option class="currency-selector" value="usd">USD</option>
            </select>
        </div>


    </div>
    <div class="colors">
        <div class="title">
            Color
        </div>
        <div>
            <div class="color-element" style="margin-left: 0;background-color: green"></div>
            <div class="color-element" style="background-color: black"></div>
            <div class="color-element" style="background-color: white"></div>
            <div class="color-element" style="background-color: orange"></div>
            <div class="color-element" style="background-color: red"></div>
        </div>
    </div>
    <div class="sizes">
        <div class="title">
            Size
        </div>
        <div>
            <div class="size-element" style="margin-left: 0">S</div>
            <div class="size-element">M</div>
            <div class="size-element">L</div>
            <div class="size-element">XL</div>
            <div class="size-element">XXL</div>
        </div>
    </div>
    <div class="buy-now">
        <div class="quantity">Quantity</div>
        <div class="buy-now-wrapper">
            <div class="counter">
                <button class="btn">-</button>
                <div>1</div>
                <button class="btn">+</button>
            </div>
            <button class="count-button btn btn-danger">ADD TO CART</button>
        </div>
    </div>
    <div class="share">
        <div class="title">Share</div>
        <div class="share-icons">
            <img src="/images/fb.png" alt="">
            <img src="/images/twitter.png" alt="">
            <img src="/images/plus.png" alt="">
        </div>
    </div>
    <div class="add-to-wishlist">
        <img src="/images/heart.png" alt="">
        <div class="text">Add to wishlist</div>
    </div>
</div>