<%- include siteHeader.ejs %>
<div class="pdp-wrapper">
    <%- include ../components/pdpComponents/pdpDesktopNav.ejs %>
    <%- include ../components/pdpComponents/pdpMenuBar.ejs %>
    <%- include ../components/pdpComponents/pdpMobileNav.ejs %>
    <div class="container-flex">
        <div class="row" style="margin-left: 0; margin-right: 0">
            <%- include ../components/pdpComponents/pdpDesktop.ejs %>
            <%- include ../components/pdpComponents/pdpMobile.ejs %>
        </div>
    </div>
</div>
<%- include siteFooter.ejs %>
