<%- include siteHeader.ejs%>

<div class="plp-wrapper">
    <%- include ../components/plpComponents/plpSidebar.ejs%>
    <%- include ../components/plpComponents/plpDesktopNav.ejs%>
    <%- include ../components/plpComponents/plpMobileNav.ejs%>
    <div class="refine">Refine by:</div>
    <div class="container-flex grid-container">
        <div style="margin: 0px 5px 0px 5px" class="row">
            <div class="col-sm-4">
                <%- include ../components/plpComponents/plpFilter.ejs%>
            </div>
            <div class="col-sm-8">
                <div class="container-flex">
                    <div class="row">
                        <%- include ../components/plpComponents/plpItems.ejs%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include siteFooter.ejs%>
