<%- include siteHeader.ejs %>

<div class="plp-wrapper">
    <%- include ../components/plpComponents/plpSidebar.ejs %>
    <%- include ../components/plpComponents/plpDesktopNav.ejs %>
    <%- include ../components/plpComponents/plpMobileNav.ejs %>
    <div class="refine">Refine by:</div>
    <%- include ../components/plpComponents/plpDesktopGrid.ejs %>
    <%- include ../components/plpComponents/plpMobileGrid.ejs %>

</div>

<%- include siteFooter.ejs %>
