<div class="card-group">
    <% _.each(products, product=> { %>
        <div class="col-sm-4">
            <div onclick="window.location.assign('<%= data.id %>-<%= subcategoryId %>/<%= product.id %>');"
                 class="card "
                 style="max-width: 233px">
                <img class="card-img-top custom-image-grid"
                     src="/images/<%= product.image_groups.filter(value => value.view_type == 'large')[0].images[0].link %>">
                <div class="card-body custom-image-grid" style="padding: 15px 0">
                    <div style="color: black;font-size: 16px; border-bottom: #cccccc solid 1px"
                         class="card-title"><%= product.name %></div>
                    <div style="color: #A8A8A8;; font-size: 18px;" class="card-price"><%= product.price %> EUR</div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
