<%- include header.ejs %>

    <div class="body-wrapper">
        <div class="bodyArranger">
            <h1><%= data.name %></h1>
            <p><%= data.page_description %></p>
            <h2>Subcategories</h2>
            <ul>
                <% _.each(data.categories, (category) => { %>
                    <li>
                        <img class="" src="/images/<%= category.image %>">
                        <p> <%= category.page_description %> </p>
                        <div style="margin-bottom: 15px">
                            <a class="customButton"
                               href="/products/<%= category.id %>">View Products</a>
                        </div>
                    </li>
                <% })%>
            </ul>

        </div>
    </div>

<%- include footer.ejs %>

