<%- include header.ejs%>

<div class="body-wrapper">
    <div class="bodyArranger">

        <ol>
            <div class="gridContainer">
                <% _.each(products, (product)=> { %>
                <li>
                    <div><%=product.name%></div>
                    <img src="/images/<%=product.image_groups[0].images[0].link%>" alt="">
                    <div><%=product.short_description%></div>
                    <div>Price: $ <%=product.price%></div>
                    <a class="customButton" href="/products/<%=product.primary_category_id%>/<%= product.id %>">More info</a>
                </li>
                <%});%>
            </div>
        </ol>
    </div>
</div>

<%- include footer.ejs%>
