<%- include siteHeader.ejs%>
<div class="pdp-wrapper">
    <div class="nav-desktop">
        <div class="nav-desktop-left">
            <div>STORE</div>
            <div>COMPANY</div>
            <div>AIRBAG</div>
            <div>ATHLETES</div>
            <div>NEWS</div>
        </div>
        <div class="nav-desktop-right">
            <div>Store locator</div>
            <div>Login</div>
            <div>Order status</div>
            <div>EN</div>
            <div>0</div>
        </div>
    </div>
    <div class="menu-wrapper">
        <img class="element" style="max-width: 55%; max-height: 55%" src="/images/fp-logo.png" alt="">
        <div class="element">MOTORBIKE</div>
        <div class="element">AVG</div>
        <div class="element">WINTERSPORTS</div>
        <div class="element">BIKE</div>
    </div>

    <div class="nav-mobile">
        <div class="nav-mobile-wrapper">
            <div class="nav-mobile-elements">
                <div class="nav-mobile-elements-center">
                    <img src="/images/fp-logo.png" style="max-width: 50px" alt="">
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-8">
                    <div class="item-description-wrapper">
                        <div style="max-width: 100%" class="pic">
                            <img src="/images/<%=imageLink%>" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-wrapper">
                    <div class="item-id">
                        Item No. <%=data.id%>
                    </div>
                    <div class="item-name">
                        <%=data.name%>
                    </div>
                    <div class="item-price">
                        <%=data.price%> EURO
                    </div>
                    <div class="colors">
                        <div class="title">
                            Colors:
                        </div>
                        <div class="color-wrapper">
                            <ul>
                                <% _.each(colors, color=> { %>
                                <li class="color-elements"><%=color.name%></li>
                                <%});%>
                            </ul>
                        </div>
                    </div>
                    <div class="sizes">
                        <div class="title">
                            Sizes:
                        </div>
                        <div class="size-wrapper">
                            <ul>
                                <% _.each(sizes, size=> { %>
                                <li class="size-elements"><%=size.name%></li>
                                <%});%>
                            </ul>
                        </div>
                    </div>
                    <div class="buy-now">
                        <div class="buy-now-wrapper">
                            <div class="counter">
                                <button>+</button>
                                <div>1</div>
                                <button>-</button>
                            </div>
                            <button class="count-button btn btn-danger">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="item-description-wrapper">
                    <div class="description">
                        <div class="title">Description</div>
                        <%=data.short_description%>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-description-wrapper">
                    <div class="description">
                        <div class="long_desc">
                            <%-data.long_description%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<%- include siteFooter.ejs%>
