<%- include siteHeader.ejs%>

<div class="plp-wrapper">
    <div class="header-plp-freeShipping" style="">FREE SHIPPING ON ALL ORDERS ABOVE 99€</div>
    <div class="header-plp-nav">
        <div class="header-plp-nav-menu">
            <div>Store Locator</div>
            <div>Login</div>
            <div>EN</div>
            <div>0</div>
        </div>
    </div>
    <div class="header-plp-menu">
        <div class="header-plp-menu-arranger">
            <div class="header-plp-menu-elements">
                <img class="element" src="/images/fp-logo.png" alt="">
                <div class="element">STORE</div>
                <div class="element">COMPANY</div>
                <div class="element">AIRBAG</div>
                <div class="element">ATHLETES</div>
                <div class="element">NEWS</div>
            </div>
        </div>
    </div>
    <div class="header-plp-header-title">
        <div class="header-plp-header-title-arranger">
            <div class="title"><%=name%></div>
            <div class="items-count"><%=products.length%> ITEMS</div>
        </div>
    </div>
    <div class="grid-container">
        <div class="filter-plp">
            <div class="filter-elements">Refine by:</div>
            <div class="category filter-elements">
                <div class="elements">
                    <div>CATEGORY</div>
                    <div class="subelements"><a href="/womens">Female</a></div>
                    <div class="subelements"><a href="/mens%>">Men</a></div>
                </div>
            </div>
            <div class="category filter-elements">
                <div class="elements">
                    <div>PRODUCT TYPE</div>
                    <% _.each(data.categories, category => {%>
                        <div class="subelements"><a href="/products/<%=category.id%>"><%=category.name%></a></div>
                    <%});%>
                </div>
            </div>
            <div class="category filter-elements">
                <div class="elements">
                    <div>GENDER</div>
                    <div class="subelements"><a href="/mens%>">Men</a></div>
                    <div class="subelements"><a href="/womens">Female</a></div>
                </div>
            </div>
        </div>
        <div class="cards">
            <% _.each(products, product=> { %>
                <div class="card">
                    <img src="/images/<%=product.image_groups.filter(value => value.view_type =='large')[0].images[0].link%>" alt="">
                    <div><%=product.name%></div>
                    <div><%=product.price%></div>
                </div>
            <%});%>
        </div>
    </div>
</div>

<%- include siteHeader.ejs%>
