<%- include siteHeader.ejs%>

<div class="plp-wrapper">
    <div class="nav-desktop">
        <div class="nav-desktop-wrapper">
            <div class="nav-desktop-elements">
                <div>Store Locator</div>
                <div>Login</div>
                <div>EN</div>
                <div>0</div>
            </div>
        </div>
        <div class="logo-menu">
            <div class="logo-menu-wrapper">
                <div class="logo-menu-elements">
                    <img class="element" style="max-width: 75%; max-height: 75%" src="/images/fp-logo.png" alt="">
                    <div class="element">STORE</div>
                    <div class="element">COMPANY</div>
                    <div class="element">AIRBAG</div>
                    <div class="element">ATHLETES</div>
                    <div class="element">NEWS</div>
                </div>
            </div>
        </div>
        <div class="category-title">
            <div class="category-title-wrapper">
                <div class="title"><%=name%></div>
                <div><%=products.length%> ITEMS</div>
            </div>
        </div>
    </div>
    <div class="nav-mobile">
        <div class="nav-mobile-wrapper">
            <div class="nav-mobile-elements">
                <div><%=name%></div>
            </div>
        </div>
        <div style="background-color: lightgray; margin: 0px" class="nav-mobile-wrapper">
            <div style="color: dimgray;text-align: left" class="nav-mobile-elements">
                <div>Filters</div>
                <div>Search</div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="plp-filter"></div>
        <div class="container-flex">
            <div class="row">
                <div class="card-deck">
                    <% _.each(products, product=> { %>
                        <div class="col-sm-4">
                            <div onclick="window.location.assign('<%=data.id%>-<%=subcategoryId%>/<%=product.id%>');" class="card" style="margin: 5px">
                                <img class="card-img-top thumbnail" src="/images/<%=product.image_groups.filter(value => value.view_type =='large')[0].images[0].link%>">
                                <div class="card-body">
                                    <div style="color: dimgray; border-bottom: dimgray solid 1px" class="card-title"><%=product.name%></div>
                                    <div style="color: dimgray" class="card-price"><%=product.price%> EUR</div>
                                </div>
                            </div>
                        </div>
                    <%});%>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include siteFooter.ejs%>
